<div class="row">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <div class="my-3">
            <a href="#" class="btn btn-primary" [routerLink]="['/posts/add']">Add Post</a>&nbsp;
            <h4>No. of Posts : {{postCount$|async}}</h4>
        </div>
        <table class="table table-striped border" *ngIf="(posts$|async) as postData">
            <thead class="bg-info">
                <tr class="border">
                    <th class="border">ID</th>
                    <th class="border">Title</th>
                    <th class="border">Description</th>
                    <th class="border">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postData" class="border">
                    <td class="border" >{{ post.id }}</td>
                    <td class="border" >{{ post.title }}</td>
                    <td class="border" >{{ post.description }}</td>
                    <td class="border" >
                        <a href="" class="btn btn-primary" [routerLink]="['edit',post.id]">Update</a> <br/>
                        <button class="btn btn-danger  mt-2" (click)="onDeletePost(post.id)"> Delete</button><br/>
                        <a href="" class="btn btn-success mt-2" [routerLink]="['details',post.id]">Details</a> <br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>
